<div class="welcome">
  <h1>Add a protest</h1>

  <hr color="white" />

  <div class="welcome__form">
    <form [formGroup]="form">
      <div>
        <input type="text" placeholder="title" formControlName="title" />
      </div>

      <button class="button" (click)="onAdd()">Add protest</button>
    </form>

    <div *ngIf="data$ | async as data">
      {{ data.title }}

      <button class="button" (click)="onNavigateToProtest(data._id)">
        Navigate to Protest
      </button>
    </div>
    <!-- show an overview of alel prtoests attached to a user as a welcomer? -->
  </div>
</div>
