hr {
  //currently local to resources but may change in the future for spacing changes.
  border: none;
  background-color: rgba(44, 44, 44, 0.123);
  margin-top: 1.5em;
  width: 95%;
}

.ion-text-length {
  margin-top: 0;
}
