<div class="ion-text-center i-mt-50 app-heading-1">Resources</div>

<ion-grid fixed="true">
  <div *ngFor="let resource of data">
    <ion-row>
      <ion-col size-md class="ion-align-items-center">
        <div *ngFor="let item of resource | keyvalue">
          <div class="app-subheading-1 ion-text-left">{{ item.key }}</div>

          <div *ngFor="let desc of item.value">
            <ion-button
              color="app-light-green"
              expand="block"
              class="wide-button i-mt-75 app-input-body-1"
              href="{{ desc.url }}"
              target="_blank"
            >
              {{ desc.infoName }}
            </ion-button>
          </div>
        </div>
        <div *ngIf="resource != data[data.length - 1]">
          <hr />
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>
