<h2 class="f3 fw6">Create Protest</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Title</ion-label>
    <ion-input required formControlName="title" name="title"></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Description</ion-label>
    <ion-input
      required
      formControlName="description"
      name="description"
    ></ion-input>
  </ion-item>
  <ion-item class="ion-no-padding">
    <ion-label position="floating">Start Date</ion-label>
    <ion-datetime
      required
      displayFormat="D MMM YYYY H:mm"
      formControlName="startDate"
      name="startDate"
      min="{{ minDate }}"
      max="2030"
    ></ion-datetime>
  </ion-item>
  <ion-col>
    <div *ngIf="form.hasError('required', 'title') && title.touched">
      <span class="f7 black-60">- A Title is required.</span>
    </div>
    <div
      *ngIf="form.hasError('required', 'description') && description.touched"
    >
      <span class="f7 black-60">- A description is required.</span>
    </div>
    <div *ngIf="form.hasError('required', 'startDate') && startDate.touched">
      <span class="f7 black-60">- A start date is required. </span>
    </div>
  </ion-col>
  <ion-row class="justify-end">
    <ion-button
      color="app-light-green"
      class="w-30 h2"
      expand="block"
      type="submit"
      [disabled]="!form.valid"
    >
      Submit
    </ion-button>
    <ion-button
      color="app-light-green"
      class="w-30 h2"
      expand="block"
      type="reset"
    >
      Clear
    </ion-button>
  </ion-row>
</form>
