.menu-items > * {
  margin: 0.5em;
}

.menu-items {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.menu-items a {
  color: unset;
  margin-right: 0.5em;
}
