.menu-buttons {
  margin-bottom: 50px;
}

.selection-ui {
  margin-bottom: 50px;
}

#autocomplete-input {
  background-color: white;
  color: black;
  margin-top: 10px;
  height: 20px;
}

map-info-window {
  color: black;
}

ion-toast.success .toast-wrapper {
  background: green;
}

ion-toast.error .toast-wrapper {
  background: rgb(209, 71, 71);
}

ion-content ion-toolbar {
  --background: translucent;
}
