<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Protest Location Pinger
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input
    ngx-google-places-autocomplete
    id="autocomplete-input"
    [options]="options"
    (onAddressChange)="handleAddressChange($event)"
    style="color: black"
  />
  <google-map>
    <map-rectangle
      *ngIf="showSelectionUI"
      [bounds]="bounds"
      [options]="options"
    ></map-rectangle>
    <map-marker
      #marker="mapMarker"
      *ngFor="let position of markerPositions"
      [position]="position"
    ></map-marker>
  </google-map>
  <div>
    <div *ngIf="showSelectionUI">
      <ion-fab vertical="bottom" class="selection-ui">
        <ion-button color="danger" (click)="onCancel()">X</ion-button>
        <ion-button (click)="onAdd(false)"
          >Place {{ titleCase(currentMenuKey) }} Pin.</ion-button
        >
      </ion-fab>
    </div>
    <ion-fab vertical="bottom" horizontal="end" class="menu-buttons">
      <ion-fab-button>
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="onMenuSelection('water')">
          <ion-icon name="water-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="onMenuSelection('first aid')">
          <ion-icon name="medkit-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
