<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="settings">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-list>
        <ion-radio-group value="form.location" formControlName="location">
          <ion-list-header>
            <ion-label>Placement method for pins.</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label>Place the pin location myself.</ion-label>
            <ion-radio slot="start" value="manual"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label
              >Have the pin placed automatically based on my current
              position.</ion-label
            >
            <ion-radio slot="start" value="automatic"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-item>

    <ion-button type="submit" [disabled]="!form.valid || !form.dirty">
      Submit
    </ion-button>
  </form>
</ion-content>
