<ion-header>
  <ion-title>Welcome!</ion-title>
</ion-header>

<ion-content>
  <ion-grid fixed="true">
    <div class="app-subheading-1 ion-text-left">Login</div>

    <ion-row>
      <ion-col size-md class="ion-align-items-center">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form)">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username" name="username"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password" name="password"></ion-input>
          </ion-item>

          <div
            *ngIf="username.invalid && (username.dirty || username.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="username.errors.required">Username is required.</div>
          </div>

          <div
            *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger"
          >
            <div *ngIf="password.errors.required">Password is required.</div>
          </div>

          <ion-button
            color="app-light-green"
            expand="block"
            type="submit"
            class="wide-button ion-margin-200"
          >
            Login
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
