.protests {
  overflow-y: scroll;
}
.protests__table {
  width: 100%;
  margin: 3rem 0 3rem 0;
  text-align: center;

  tr:nth-child(odd) {
    background: gray;
  }
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
