<ion-grid fixed="true">
  <div class="add-protests">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <input
          type="text"
          placeholder="title"
          formControlName="title"
          required
        />
      </div>

      <div>
        <input
          type="text"
          placeholder="description"
          formControlName="description"
          required
        />
      </div>

      <button class="button">Add protest</button>
      <button class="button" (click)="onClear()">Cancel</button>
    </form>

    <ng-container *ngIf="addResult$ | async as addResult">
      <div *ngIf="addResult.status; else noAddResult">Success</div>
      <ng-template #noAddResult> Something went wrong! </ng-template>
    </ng-container>

    <!-- <h3>Modal</h3>
    <ion-button class="button" (click)="presentModal()">Modal</ion-button> -->
  </div>

  <div class="protests" *ngIf="data$ | async as data">
    <h3>Protests You've Joined</h3>
    <table class="protests__table">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let protest of data.protestsJoined">
        <td (click)="navigateToProtestOverview(protest)">
          {{ protest.title }}
        </td>
        <td>{{ protest.description }}</td>
        <td>{{ protest.startDate }}</td>
      </tr>
    </table>

    <hr color="gray" />

    <h3>Protests You've Created</h3>
    <table>
      <tr>
        <th>Tftle</th>
        <th>Description</th>
        <th>Date</th>
      </tr>
      <tr *ngFor="let protest of data.protestsCreated">
        <td (click)="navigateToProtestOverview(protest)">
          {{ protest.title }}
        </td>
        <td>{{ protest.description }}</td>
        <td>{{ protest.startDate }}</td>
      </tr>
    </table>
  </div>

  <div class="add-protests">
    <h3>Create a Protest</h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <input
          type="text"
          placeholder="title"
          formControlName="title"
          required
        />
      </div>

      <div>
        <input
          type="text"
          placeholder="description"
          formControlName="description"
          required
        />
      </div>

      <button class="button" type="submit">Add protest</button>
      <button class="button" (click)="onClear()">Cancel</button>
    </form>

    <div
      class="add-protests__new-protest"
      *ngIf="protestAdded$ | async as data"
    >
      <h5>Created protest</h5>
      <p>Title: {{ data.newItem.title }}</p>
      <p>Description: {{ data.newItem.description }}</p>
    </div>

    <!-- add httpinterceptor for checking authentication state -->
  </div>
</ion-grid>
