.container {
  margin: 2rem 1rem;
}
.protests {
  overflow-y: scroll;
}
.protests__table {
  width: 100%;
  margin: 3rem 0 3rem 0;
  text-align: center;

  tr:nth-child(odd) {
    background: gray;
  }
}
.alert-text {
  font-size: 13px;
  color: rgba(78, 78, 78, 0.644);
}
hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
