.protests {
  margin: 3rem;
}

.protests__view-protests {
  overflow-y: scroll;

  table {
    width: 100%;
    margin: 3rem 0 3rem 0;
    text-align: center;
    table-layout: fixed;
  }

  table,
  th,
  td {
    border: 1px solid lightgray;
  }
}
