<h2 class="f3 fw6">Join Protest</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-item class="app-input-body-1 ion-no-padding">
    <ion-label position="floating">Protest Code</ion-label>
    <ion-input
      formControlName="protestToken"
      name="protestToken"
      required="true"
    ></ion-input>
  </ion-item>
  <ion-col>
    <div
      *ngIf="form.hasError('required', 'protestToken') && protestToken.touched"
    >
      <span class="f7 black-60">Protest token is required.</span>
    </div>
  </ion-col>
  <ion-row class="justify-end">
    <ion-button
      color="app-light-green"
      class="w-30 h2"
      expand="block"
      type="submit"
      [disabled]="!form.valid"
    >
      Submit
    </ion-button>
    <ion-button
      color="app-light-green"
      class="w-30 h2"
      expand="block"
      type="reset"
    >
      Clear
    </ion-button>
  </ion-row>
</form>
